<div class="container p-4">
  <h1 class="text-center">Create Interview</h1>
  <form class="form-group interview-form w-50 mx-auto d-flex flex-column gap-4">
    <input
      class="form-control"
      type="text"
      name="companyName"
      id="companyName"
      placeholder="companyName"
      required
    />
    <input
      class="form-control"
      type="date"
      name="date"
      id="date"
      placeholder="date"
      required
    />
    <input
      class="form-control"
      type="text"
      name="registeredStudent"
      id="registeredStudent"
      placeholder="registeredStudentId"
      required
    />
    <button type="submit" class="btn btn-success align-start">Create Interview</button>
  </form>
</div>

<script type="module" src="/js/interview.js"></script>
