<h1 class="text-center">Create Student</h1>
<div class="container p-4">
  <form class="form-group student-form w-50 mx-auto d-flex flex-column gap-4">
    <input
      type="text"
      class="form-control"
      name="name"
      id="name"
      placeholder="name"
      required
    />
    <input
      type="text"
      class="form-control"
      name="college"
      id="college"
      placeholder="college"
      required
    />
    <input
      type="number"
      class="form-control"
      name="dsaScore"
      id="dsaScore"
      placeholder="dsaScore"
      required
    />
    <input
      type="number"
      class="form-control"
      name="webScore"
      id="webScore"
      placeholder="webScore"
      required
    />
    <input
      type="number"
      class="form-control"
      name="reactScore"
      id="reactScore"
      placeholder="reactScore"
      required
    />

    <button type="submit" class="btn btn-success">Create</button>
  </form>
</div>

<script type="module" src="/js/student.js"></script>
