<div class="container p-4">
  <form class="form-group signin-form w-50 mx-auto d-flex flex-column gap-4">
    <input
      type="email"
      class="form-control"
      name="username"
      id="email"
      placeholder="email"
      required
    />
    <input
      id="password"
      type="password"
      class="form-control"
      name="password"
      placeholder="password"
      required
    />
    <button type="submit" class="btn btn-success align-start">Signin</button>
  </form>
</div>

<script type="module" src="/js/signin.js"></script>
